<div class="globals">
  <h1 class="page-url">{{pageUrl}}</h1>
  <p id="errors">Errors: {{errors}}</p>
  <p id="issues">Issues: {{issues}}</p>
  <p id="warnings">Warnings: {{warnings}}</p>
  <div id="levels">
    <p class="AAA">Issues of AAA level: {{levels.AAA}}</p>
    <p class="AA">Issues of AA level: {{levels.AA}}</p>
    <p class="A">Issues of A level: {{levels.A}}</p>
  </div>
  <h2>The page broke these rules of best practice:</h2>
  <table class="best-practice">
    <thead>
      <th class="rule">Rule</th>
      <th class="count">Number of failures</th>
    </thead>
    <tbody>
      {{#bestPracticeFails}}
      <tr>
        <td><blockquote>{{error}} (ID: {{bpID}})</blockquote></td>
        <td class="count">{{count}}</td>
      </tr>
      {{/bestPracticeFails}}
    </tbody>
  </table>
  <h2>These elements broke rules of best practive</h2>
  <table class="elements">
    <thead>
      <th></th>
      <th class="detail">Detail</th>
      <th class="count">Number of issues</th>
    </thead>
    <tbody>
      {{#elements}}
      <tr>
        <th>HTML</th>
        <td><code>{{{html}}}</code></td>
        <td rowspan="2" class="count">{{count}}</td>
      </tr>
      <tr>
        <th>XPath to element</th>
        <td><code>{{xpath}}</code></td>
      <tr>
      {{/elements}}
    </tbody>
  </table>
</div>
